  <div class=navbar>
    <span></span>
    <span>Cocktail</span>
    <div class="add">
      <p><%= link_to "Add cocktail", new_cocktail_path, class: "btn add" %></p>
    </div>
    <span>

    </span>
  </div>
