<div class="all">
<div>
     <h2>Welcome to the bar</h2>
</div>
  <div class="container text-center card_list">





    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail), class: " col-xs-12 col-sm-3" do %>
      <% if cocktail.photo.present? %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, crop: :fill; %>');">
        <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1517620430776-0ec904756579?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=631b4f98b4e594a6653ee1ae97c3a4c9&auto=format&fit=crop&w=668&q=80');">
        <% end %>
        <div class="card-category"></div>
        <div class="card-description">
         <h3><%= cocktail.name %></h2>
         </div>
       </div>
       <% end %>
       <% end %>
     </div>
   </div>
 </div>


